.destop-1440-px,
.destop-1440-px * {
  box-sizing: border-box;
}
.destop-1440-px {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  height: 222.0625rem;
  position: relative;
  overflow: hidden;
}
.destop-1440-px .navbar-instance {
  padding: 0rem 5.333125rem 0rem 5.333125rem !important;
  align-self: stretch !important;
  flex-shrink: 0 !important;
  height: 3.216875rem !important;
  box-shadow: 0rem 0.333125rem 5rem 0rem rgba(0, 0, 0, 0.1) !important;
}
.destop-1440-px .header {
  background: var(--bg-shade, #e6f7ff);
  padding: 8.333125rem 5.333125rem 8.333125rem 5.333125rem;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 44.8125rem;
  position: relative;
}
.destop-1440-px .header-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex-shrink: 0;
  width: 43.9375rem;
  height: 32.875rem;
  position: relative;
}
.destop-1440-px .content {
  display: flex;
  flex-direction: column;
  gap: 1.333125rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.destop-1440-px .hello-i-m-bryan-garay-software-engineer {
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 4.6666669845581055rem;
  line-height: 120%;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.hello-i-m-bryan-garay-software-engineer-span {
  color: var(--heading-color, #282938);
}
.hello-i-m-bryan-garay-software-engineer-span2 {
  color: var(--primary, #2b187a);
}
.destop-1440-px
  .currently-i-am-working-as-a-test-automation-engineer-at-globant {
  color: var(--body, #1c1e53);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 2rem;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  width: 38.833125rem;
}
.destop-1440-px .button {
  background: var(--primary, #2b187a);
  border-radius: 0.333125rem;
  padding: 1.166875rem 2.666875rem 1.166875rem 2.666875rem;
  display: flex;
  flex-direction: row;
  gap: 0.666875rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 10.666875rem;
  position: relative;
}
.destop-1440-px .contact-me {
  color: var(--white, #ffffff);
  text-align: left;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: 1.4375rem;
  line-height: 150%;
  font-weight: 600;
  position: relative;
}
.destop-1440-px .frame-5 {
  flex-shrink: 0;
  width: 35.25rem;
  height: 44.875rem;
  position: relative;
  overflow: hidden;
}
.destop-1440-px .group-11-1 {
  width: 43.1875rem;
  height: 43.75rem;
  position: absolute;
  left: -0.958125rem;
  top: 1.126875rem;
  object-fit: cover;
}
.destop-1440-px .frame-1-about-me {
  align-self: stretch;
  flex-shrink: 0;
  height: 47.6875rem;
  position: relative;
}
.destop-1440-px .my-skill {
  padding: 9.333125rem 5.333125rem 9.333125rem 5.333125rem;
  display: flex;
  flex-direction: column;
  gap: 6.666875rem;
  align-items: flex-start;
  justify-content: center;
  width: 90rem;
  height: 50.5625rem;
  position: absolute;
  left: 0rem;
  top: -0.029375rem;
  overflow: hidden;
}
.destop-1440-px .section-title {
  display: flex;
  flex-direction: column;
  gap: 1.333125rem;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 64rem;
  position: relative;
}
.destop-1440-px .content2 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.destop-1440-px .about-me {
  color: var(--heading-color, #282938);
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 4rem;
  line-height: 120%;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.destop-1440-px .row {
  display: flex;
  flex-direction: row;
  gap: 2.666875rem;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.destop-1440-px .content3 {
  background: var(--bg-shade, #e6f7ff);
  border-radius: 0.666875rem;
  border-style: solid;
  border-color: var(--primary, #2b187a);
  border-width: 0rem 0rem 0.4375rem 0rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  height: 26.4375rem;
  position: relative;
}
.destop-1440-px .section-title2 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.destop-1440-px .strategy-direction {
  background: #ffffff;
  border-radius: 0.666875rem;
  padding: 0.833125rem;
  display: flex;
  flex-direction: row;
  gap: 0.833125rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0rem 0rem 1rem 0rem rgba(0, 0, 0, 0.1);
}
.destop-1440-px .product-chain-1 {
  flex-shrink: 0;
  width: 3.333125rem;
  height: 3.333125rem;
  position: relative;
  object-fit: cover;
}
.destop-1440-px .who-i-am {
  color: var(--primary, #2b187a);
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 2rem;
  line-height: 140%;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.destop-1440-px
  .i-am-a-passionate-software-engineer-located-in-guayaquil-ecuador-i-am-25-years-old {
  color: var(--body, #1c1e53);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 1.5rem;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.destop-1440-px .content4 {
  background: var(--bg-shade, #e6f7ff);
  border-radius: 0.666875rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.destop-1440-px .section-title3 {
  display: flex;
  flex-direction: column;
  gap: 1.333125rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.destop-1440-px .ui-ux-design {
  background: #ffffff;
  border-radius: 0.666875rem;
  padding: 0.833125rem;
  display: flex;
  flex-direction: row;
  gap: 0.833125rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0rem 0rem 1rem 0rem rgba(0, 0, 0, 0.1);
}
.destop-1440-px .feather-pen-1 {
  flex-shrink: 0;
  width: 3.333125rem;
  height: 3.333125rem;
  position: relative;
  object-fit: cover;
}
.destop-1440-px .my-studies {
  color: var(--primary, #2b187a);
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 2rem;
  line-height: 140%;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.destop-1440-px
  .i-am-currently-in-the-last-year-of-the-software-engineer-career-at-uisek-ecuador-i-have-a-professional-certification-ctfl-from-istqb {
  color: var(--black, #000000);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 1.5rem;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.destop-1440-px .branding-logo {
  background: #ffffff;
  border-radius: 0.666875rem;
  padding: 0.833125rem;
  display: flex;
  flex-direction: row;
  gap: 0.833125rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0rem 0rem 1rem 0rem rgba(0, 0, 0, 0.1);
}
.destop-1440-px .tag-1 {
  flex-shrink: 0;
  width: 3.333125rem;
  height: 3.333125rem;
  position: relative;
  object-fit: cover;
}
.destop-1440-px .area-of-expertise {
  color: var(--primary, #2b187a);
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 2rem;
  line-height: 140%;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.destop-1440-px
  .i-have-2-years-of-experience-as-test-automation-engineer-and-worked-for-a-year-as-a-frontend-and-backend-developer {
  color: var(--black, #000000);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 1.5rem;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.destop-1440-px .frame-2-projects {
  align-self: stretch;
  flex-shrink: 0;
  height: 126.375rem;
  position: relative;
}
.destop-1440-px .my-skill2 {
  padding: 9.333125rem 5.333125rem 9.333125rem 5.333125rem;
  display: flex;
  flex-direction: column;
  gap: 6.666875rem;
  align-items: flex-start;
  justify-content: center;
  width: 90rem;
  height: 118.0625rem;
  position: absolute;
  left: 0rem;
  top: -0.029375rem;
  overflow: hidden;
}
.destop-1440-px .projects {
  color: var(--heading-color, #282938);
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 4rem;
  line-height: 120%;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.destop-1440-px .content5 {
  background: var(--bg-shade, #e6f7ff);
  border-radius: 0.666875rem;
  border-style: solid;
  border-color: var(--primary, #2b187a);
  border-width: 0rem 0rem 0.4375rem 0rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  height: 44.625rem;
  position: relative;
}
.destop-1440-px .image-1 {
  flex-shrink: 0;
  width: 33.3125rem;
  height: 17.6875rem;
  position: relative;
  box-shadow: 0rem 0.25rem 0.25rem 0rem rgba(0, 0, 0, 0.25);
  transform-origin: 0 0;
  transform: rotate(-180deg) scale(1, 1);
  object-fit: cover;
  aspect-ratio: 533/283;
}
.destop-1440-px .name-decision-tree-machine-learning-web-simulator {
  color: var(--primary, #2b187a);
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 2rem;
  line-height: 140%;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.name-decision-tree-machine-learning-web-simulator-span {
}
.name-decision-tree-machine-learning-web-simulator-span2 {
  text-decoration: underline;
}
.destop-1440-px
  .description-decision-tree-simulator-is-a-web-application-built-with-django-that-allows-you-to-predict-data-using-machine-learning-models-main-skills-html-css-java-script-python-django-postgre-sql {
  color: var(--body, #1c1e53);
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 1.5rem;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.description-decision-tree-simulator-is-a-web-application-built-with-django-that-allows-you-to-predict-data-using-machine-learning-models-main-skills-html-css-java-script-python-django-postgre-sql-span {
  font-family: "Roboto-Bold", sans-serif;
  font-weight: 700;
}
.description-decision-tree-simulator-is-a-web-application-built-with-django-that-allows-you-to-predict-data-using-machine-learning-models-main-skills-html-css-java-script-python-django-postgre-sql-span2 {
  font-family: "Roboto-Regular", sans-serif;
}
.destop-1440-px .content6 {
  background: var(--bg-shade, #e6f7ff);
  border-radius: 0.666875rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  height: 44.4375rem;
  position: relative;
}
.destop-1440-px .image {
  flex-shrink: 0;
  width: 33.3125rem;
  height: 17.6875rem;
  position: relative;
  object-fit: cover;
  aspect-ratio: 533/283;
}
.destop-1440-px .name-arcade-game-lobo-cabra-y-col-5-desaf-os {
  color: var(--primary, #2b187a);
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 2rem;
  line-height: 140%;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.name-arcade-game-lobo-cabra-y-col-5-desaf-os-span {
}
.name-arcade-game-lobo-cabra-y-col-5-desaf-os-span2 {
  text-decoration: underline;
}
.destop-1440-px
  .description-the-main-objective-was-to-meet-a-series-of-functional-non-functional-requirements-and-perform-different-testing-techniques-main-skills-node-js-express-js-mongo-db-loadster-y-google-lighthouse {
  color: var(--body, #1c1e53);
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 1.5rem;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.description-the-main-objective-was-to-meet-a-series-of-functional-non-functional-requirements-and-perform-different-testing-techniques-main-skills-node-js-express-js-mongo-db-loadster-y-google-lighthouse-span {
  font-family: "Roboto-Bold", sans-serif;
  font-weight: 700;
}
.description-the-main-objective-was-to-meet-a-series-of-functional-non-functional-requirements-and-perform-different-testing-techniques-main-skills-node-js-express-js-mongo-db-loadster-y-google-lighthouse-span2 {
  font-family: "Roboto-Regular", sans-serif;
}
.destop-1440-px .content7 {
  background: var(--bg-shade, #e6f7ff);
  border-radius: 0.666875rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  height: 44.625rem;
  position: relative;
}
.destop-1440-px .name-astro-place-mock-e-commerce {
  color: var(--primary, #2b187a);
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 2rem;
  line-height: 140%;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.name-astro-place-mock-e-commerce-span {
}
.name-astro-place-mock-e-commerce-span2 {
  text-decoration: underline;
}
.destop-1440-px
  .description-project-of-the-react-js-con-vite-js-y-tailwind-css-course-from-platzi-the-goal-was-to-put-into-practice-web-development-skills-main-skills-react-js-vite-js-tailwind-css-deployment-netlify {
  color: var(--body, #1c1e53);
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 1.5rem;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.description-project-of-the-react-js-con-vite-js-y-tailwind-css-course-from-platzi-the-goal-was-to-put-into-practice-web-development-skills-main-skills-react-js-vite-js-tailwind-css-deployment-netlify-span {
  font-family: "Roboto-Bold", sans-serif;
  font-weight: 700;
}
.description-project-of-the-react-js-con-vite-js-y-tailwind-css-course-from-platzi-the-goal-was-to-put-into-practice-web-development-skills-main-skills-react-js-vite-js-tailwind-css-deployment-netlify-span2 {
  font-family: "Roboto-Regular", sans-serif;
}
.destop-1440-px .image2 {
  flex-shrink: 0;
  width: 33.3125rem;
  height: 17.6875rem;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(-180deg) scale(1, 1);
  object-fit: cover;
  aspect-ratio: 533/283;
}
.destop-1440-px .name-astro-place-express-backend-with-postgre-sql {
  color: var(--primary, #2b187a);
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 2rem;
  line-height: 140%;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.name-astro-place-express-backend-with-postgre-sql-span {
}
.name-astro-place-express-backend-with-postgre-sql-span2 {
  text-decoration: underline;
}
.destop-1440-px
  .description-this-project-showcases-essential-backend-practices-including-orm-for-postgre-sql-security-with-passport-js-jwt-and-more-main-skills-node-js-express-js-postgre-sql-passport-js-jwt-nodemailer {
  color: var(--body, #1c1e53);
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 1.5rem;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.description-this-project-showcases-essential-backend-practices-including-orm-for-postgre-sql-security-with-passport-js-jwt-and-more-main-skills-node-js-express-js-postgre-sql-passport-js-jwt-nodemailer-span {
  font-family: "Roboto-Bold", sans-serif;
  font-weight: 700;
}
.description-this-project-showcases-essential-backend-practices-including-orm-for-postgre-sql-security-with-passport-js-jwt-and-more-main-skills-node-js-express-js-postgre-sql-passport-js-jwt-nodemailer-span2 {
  font-family: "Roboto-Regular", sans-serif;
}
