.navbar-2,
.navbar-2 * {
  box-sizing: border-box;
}
.navbar-2 {
  background: #ffffff;
  padding: 0rem 4rem 0rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: center;
  justify-content: center;
  height: 5.625rem;
  position: relative;
  box-shadow: 0rem 0.25rem 3.75rem 0rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.navbar-2 .container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.navbar-2 .frame {
  flex-shrink: 0;
  width: 8.75rem;
  height: 1.875rem;
  position: relative;
  overflow: visible;
}
.navbar-2 .column {
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  height: 1.6875rem;
  position: relative;
}
.navbar-2 .column2 {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.navbar-2 .home {
  color: var(--black, #000000);
  text-align: left;
  font-family: var(
    --text-regular-normal-font-family,
    "Roboto-Regular",
    sans-serif
  );
  font-size: var(--text-regular-normal-font-size, 1rem);
  line-height: var(--text-regular-normal-line-height, 150%);
  font-weight: var(--text-regular-normal-font-weight, 400);
  position: relative;
}
.navbar-2 .portfolio {
  color: var(--black, #000000);
  text-align: left;
  font-family: var(
    --text-regular-normal-font-family,
    "Roboto-Regular",
    sans-serif
  );
  font-size: var(--text-regular-normal-font-size, 1rem);
  line-height: var(--text-regular-normal-line-height, 150%);
  font-weight: var(--text-regular-normal-font-weight, 400);
  position: relative;
}
.navbar-2 .about-us {
  color: var(--black, #000000);
  text-align: left;
  font-family: var(
    --text-regular-normal-font-family,
    "Roboto-Regular",
    sans-serif
  );
  font-size: var(--text-regular-normal-font-size, 1rem);
  line-height: var(--text-regular-normal-line-height, 150%);
  font-weight: var(--text-regular-normal-font-weight, 400);
  position: relative;
}
.navbar-2 .testimonials {
  color: var(--black, #000000);
  text-align: left;
  font-family: var(
    --text-regular-normal-font-family,
    "Roboto-Regular",
    sans-serif
  );
  font-size: var(--text-regular-normal-font-size, 1rem);
  line-height: var(--text-regular-normal-line-height, 150%);
  font-weight: var(--text-regular-normal-font-weight, 400);
  position: relative;
}
.navbar-2 .column3 {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: flex-end;
  justify-content: center;
  flex: 1;
  height: 3.25rem;
  position: relative;
  overflow: hidden;
}
.navbar-2 .button {
  background: #006b6a;
  border-radius: 0.375rem;
  padding: 0.875rem 2rem 0.875rem 2rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 8rem;
  position: relative;
}
.navbar-2 .contact-me {
  color: var(--white, #ffffff);
  text-align: left;
  font-family: var(
    --text-regular-normal-font-family,
    "Roboto-Regular",
    sans-serif
  );
  font-size: var(--text-regular-normal-font-size, 1rem);
  line-height: var(--text-regular-normal-line-height, 150%);
  font-weight: var(--text-regular-normal-font-weight, 400);
  position: relative;
}
